* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: "Lato", sans-serif;
	color: #c9ccd5;
	font-size: 1rem;
    overflow-x: hidden;
}





/*
    navbar section
*/


.navbar {
	position: fixed;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222831;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
	z-index: 2;
}
.navbar__wrapper,
.navbar__wrapper--logo {
	display: inline;
    align-items: center;
	margin: 0rem 5vw;
}
.navbar__wrapper li {
	display: inline;
	margin: 0rem 0.25rem;
}
.navbar__link {
	color: #bbbbbbb0;
	text-decoration: none;
}
.navbar__link:hover {
	animation-name: navbarMenu;
	padding-bottom: 0.5rem;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	color: #bbbbbb;
}

@keyframes navbarMenu {
	100% {
		padding-bottom: 0.2rem;
		border-bottom: 0.1rem solid #95d600;
		color: #f0f0f0;
	}
}

.navbar__logo {
	color: #95d600;
	font-family: "Ubuntu Mono", monospace;
	font-size: 2rem;
	text-decoration: none;
}
.navbar__logo:hover {
	animation-name: navbarLogo;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	color: #95d600;
}

@keyframes navbarLogo {
	100% {
		color: #dddddd;
	}
}





/* 
welcome section
background
*/


@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}
	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 45%;
	}
}

.welcome__wrapper--background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #202324;
	overflow: hidden;
    z-index: -1;
}
.welcome__background li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 19s linear infinite;
}

/* objets */

.welcome__background li:nth-child(0) {
	left: 58%;
	width: 225px;
	height: 225px;
	bottom: -225px;
	animation-delay: 1s;
}
.welcome__background li:nth-child(1) {
	left: 78%;
	width: 232px;
	height: 232px;
	bottom: -232px;
	animation-delay: 1s;
}
.welcome__background li:nth-child(2) {
	left: 36%;
	width: 203px;
	height: 203px;
	bottom: -203px;
	animation-delay: 4s;
}
.welcome__background li:nth-child(3) {
	left: 29%;
	width: 226px;
	height: 226px;
	bottom: -226px;
	animation-delay: 15s;
}
.welcome__background li:nth-child(4) {
	left: 26%;
	width: 214px;
	height: 214px;
	bottom: -214px;
	animation-delay: 9s;
}
.welcome__background li:nth-child(5) {
	left: 69%;
	width: 216px;
	height: 216px;
	bottom: -216px;
	animation-delay: 13s;
}
.welcome__background li:nth-child(6) {
	left: 52%;
	width: 201px;
	height: 201px;
	bottom: -201px;
	animation-delay: 10s;
}
.welcome__background li:nth-child(7) {
	left: 80%;
	width: 209px;
	height: 209px;
	bottom: -209px;
	animation-delay: 13s;
}
.welcome__background li:nth-child(8) {
	left: 15%;
	width: 203px;
	height: 203px;
	bottom: -203px;
	animation-delay: 3s;
}
.welcome__background li:nth-child(9) {
	left: 60%;
	width: 221px;
	height: 221px;
	bottom: -221px;
	animation-delay: 21s;
}
.welcome__background li:nth-child(10) {
	left: 50%;
	width: 221px;
	height: 221px;
	bottom: -221px;
	animation-delay: 18s;
}

/*
welcome article
*/


.welcome {
    width: 100vw;
    height: 100vh;
}
.welcome__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 23.25vh;
    margin-left: 36.79vw;
}
.welcome__wrapper .welcome__name {
	font-size: 4rem;
	color: #95d600;
}
.welcome__wrapper .welcome__description {
    width: 75%;
	font-size: 1.5rem;
}
.welcome__wrapper .socialmedia {
	display: inline-flex;
    justify-content: end;
    margin-top: 13.53rem;
    margin-right: 6.77rem;
}
.socialmedia div {
	margin: 0rem 0.3rem;
}





/*
about section
*/


.about {
	display: flex;
    position: absolute;
    background-color: #0063bf;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0% 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
    justify-content: center;
}
.about__wrapper {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.about h1 {
    margin-bottom: 1.5rem;
	font-size: 4rem;
}
.about spam {
    color: #95d600;
}
.about h3 {
    margin-bottom: 2rem;
}
.about p {
    width: 63.21rem;
}
.portrait__container {
    margin-top: 4.5rem;
	width: 20rem;
	height: 20rem;
	background-color: #d3e0eae5;
	border-radius: 25%;
	border: solid #95d600;
    overflow: hidden;
}
.portrait__container img {
	height: 100%;
}





/*
projects section
*/


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: absolute;
    top: 195.03vh;
	height: 200vh;
	width: 100vw;
	background-color: #0069CC;
    z-index: -1;
}
.projects__title {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
	font-size: 4rem;
}
.projects__title spam {
    color: #95d600;
}
.projects p {
    font-size: 1.25rem;
    width: 60rem;
}





/*
contact section
*/
.contact {
    display: flex;
    position: absolute;
    top: 400vh;
}





/*
footer section
*/


.footer {
	font-size: 1rem;
	display: flex;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 500vh;
	justify-content: space-between;
	align-items: center;
    z-index: 1;
    padding-bottom: 3rem;
}

.footer__wrapper {
	display: inline;
	margin: 0.5rem 6rem 0.1rem 6rem;
}

.footer__wrapper--socialmedia {
	display: inline-flex;
	align-items: center;
	margin: 0.5rem 6rem 0.1rem 6rem;
}

.footer__wrapper--socialmedia div {
	margin: 0rem 0.4rem;
}

/*
Breakpoint 	        Class infix     Dimensions
X-Small 	            None 	    <576px
Small 	                sm 	        ≥576px
Medium 	                md 	        ≥768px
Large 	                lg 	        ≥992px
Extra large 	        xl 	        ≥1200px
Extra extra large 	    xxl 	    ≥1400px
*/
